body {
  overflow: hidden;
  background-color: #2e3031;
  font-family: 'Segoe UI';
  color: #f0f8ff;
}

@keyframes circle1Path {
  0% {
    top: 50vh;
    left: 50vw;
    width: 5vw;
    height: 5vw;
    opacity: 0.5;
  }

  50% {
    top: 0vh;
    left: 45vw;
    width: 60vw;
    height: 60vw;
    opacity: 1;
  }

  100% {
    top: 50vh;
    left: 50vw;
    width: 5vw;
    height: 5vw;
    opacity: 0.5;
  }
}

@keyframes circle2Path {
  0% {
    top: 40vh;
    left: 45vw;
    width: 15vw;
    height: 15vw;
  }

  50% {
    top: 37vh;
    left: -10vw;
    width: 80vw;
    height: 80vw;
  }

  100% {
    top: 40vh;
    left: 45vw;
    width: 15vw;
    height: 15vw;
  }
}

@keyframes circle3Path {
  0% {
    top: 30vh;
    left: 30vw;
    width: 25vw;
    height: 25vw;
  }

  50% {
    top: -50vh;
    left: -20vw;
    width: 120vw;
    height: 120vw;
  }

  100% {
    top: 30vh;
    left: 30vw;
    width: 25vw;
    height: 25vw;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadeCircleIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.circle1 {
  position: absolute;
  animation: circle1Path 15s infinite, fadeCircleIn 1332ms ease-out;
  border-radius: 100vw;
  background: radial-gradient(50% 50% at 50% 50%, #0c77ff4d 15.62%, #0c77ff00 100%);
}

.circle2 {
  position: absolute;
  animation: circle2Path 20s infinite, fadeCircleIn 1332ms ease-out;
  border-radius: 100vw;
  background: radial-gradient(50% 50% at 50% 50%, #0038ff4d 15.62%, #0c77ff00 100%);
}

.circle3 {
  position: absolute;
  animation: circle3Path 30s infinite, fadeCircleIn 1332ms ease-out;
  border-radius: 100vw;
  background: radial-gradient(50% 50% at 50% 50%, #4138d280 15.62%, #4138d200 100%);
}

.text {
  display: flex;
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: 5vw;
}